<% if @task.errors.any? %>
<h4>Oops Something went wrong: </h4>
	<ul>
		<% @task.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
<% end %>

<%= simple_form_for @task, html: {class: 'form-signin'} do |f| %>
  <%= f.input :content, label: false, placeholder: 'Content', autofocus:true  %>
  <%= f.button :submit, class: 'btn btn-primary btn-block mt-3 mb-3' %>
<% end %>

<%= link_to 'Go back to all tasks', tasks_path %>